html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana,Geneva,sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#outer {
  position: absolute;
  display: table;
  width: 100%;
  height: 99%;
  margin: 0 auto;
}

#upper {
  display: table-row;
  width: 100%;
  height: 85%;
}

#content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.big {
  font-size: 36pt;
}
